@import "tailwindcss";

@theme {
  --color-orange: oklch(66.85% 0.208 60.35);
}

@layer components {
    .container {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    }

    .card {
        @apply bg-white rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl;
    }

    .btn {
        @apply px-4 py-2 rounded-lg transition-colors duration-200;
    }

    .btn-primary {
        @apply bg-orange-500 text-white hover:bg-orange-600;
    }
}
